header {
  position: relative;
  border-bottom: 2px solid gray;
  background-image: salmon.png;
  background-color: #9ACCFF;
  text-align: center;
}

body {
  background-color: #1966B2;
  margin: 0px;
  font-size: 16px;
}

footer {
  border-top: 2px solid gray;
  background-color: #9ACCFF;
}

h2 {
  font-size: 36px;
  font-family: fantasy;
}

p {
  font-size: 16px;
  font-family: cursive;
}

#header-list li {
  display: inline;
  padding: 10px 10px;
}

#fishy {
  float: right;
}

#family-pic {
  width: 250px;
  margin-left: 50%;
}

#font-size {
  font-size: 36px;
  font-family: fantasy;
}

#p-size {
  font-size: 16px;
  font-family: cursive;
}

.row {
  width: 150px;
  display: inline;
}

.button{
  font-size: 10px;
  border-radius: 50%;
}

.button:hover{
  background-color: #9ACCFF;
  font-size: 10px;
  border-radius: 50%;
}
